<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Cadastro Clientes</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Hello Electron.</h1>
   
   <button onclick="cadastroWindow()"> teste</button>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt=" icone do banco de dados">
    </footer>

       <!--bootstrap-  ligar ao index-->
       <script src="../public/js/bootstrap.min.js"></script>
       <script src="renderer.js"></script>
  </body>
</html> 